<nav class="navbar">
    <div class="navbar__left">
      <i class="fa fa-bars"></i>
    </div>
  
    <div class="navbar__center">
      <!-- Imagen del logo -->
      <img src="assets/logo-icon.png" alt="Logo SinGluten&Go" class="navbar__logo" />
  
      <!-- Título con colores -->
      <span class="navbar__title">
        <span class="navbar__title--green">SinGluten</span>
        <span class="navbar__title--yellow">&Go</span>
      </span>
    </div>
  
    <div class="navbar__right">
      <a routerLink="/login" title="Iniciar sesión">
        <i class="fa fa-user"></i>
      </a>
    </div>
  </nav>
  