<div class="home">

<!-- SECCIÓN DE BIENVENIDA -->
<section class="home__bienvenida">
  <h2 class="home__bienvenida-titulo">¡Esto es SinGluten&Go!</h2>
  <p class="home__bienvenida-texto">
    Encuentra lugares seguros para disfrutar sin gluten. Busca por ciudad, consulta valoraciones y forma parte de nuestra comunidad.
  </p>
</section>


  <!-- SECCIÓN DEL BUSCADOR -->
  <section class="home__search">
    <!-- Etiqueta para el input -->
    <label for="city" class="home__label">Ciudad:</label>

    <!-- Campo de texto con variable local #cityInput -->
    <input
      id="city"
      type="text"
      class="home__input"
      placeholder="Buscar ciudad..."
      [(ngModel)]="ciudad"
    />

    <!-- Botón que ejecuta el método al hacer clic -->
    <button class="home__button" (click)="onSearchCity()">
      Buscar
    </button>
  </section>

  <!-- SECCIÓN DEL MAPA -->
  <section class="home__map">
    <div id="map" class="home__map-container"></div>
  </section>
</div>
